<form action="/api/product" method="POST">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--- Include the above in your HEAD tag --->

    <!-- Contact Us Section -->
    <section class="Material-contact-section section-padding section-dark">
        <div class="container">
            <div class="row">
                <!-- Section Titile -->
                <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                    <h1 class="section-title">Ingresar Datos</h1>
                </div>
            </div>
           
                <!-- contact form -->
                <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                    <form class="shake" role="form" method="post" id="contactForm" name="contact-form"
                        data-toggle="validator">
                        <!-- Name -->
                        <div class="form-group label-floating">
                            <label class="control-label" for="name">Name</label>
                            <input class="form-control" id="name" type="text" name="name" required
                                data-error="Please enter your name">
                            <div class="help-block with-errors"></div>
                        </div>
                        <!-- Price -->
                        <div class="form-group label-floating">
                            <label class="control-label" for="price">Price</label>
                            <input class="form-control" id="price" type="number" name="price" required
                                data-error="Please enter your price">
                            <div class="help-block with-errors"></div>
                        </div>
                        <!-- Category -->
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select class="form-control" id="category" name="category">

                                <option>Computers</option>
                                <option>Phones</option>
                                <option>Accesories</option>
                            </select>
                        </div>
                         <!-- Description -->
                        <div class="form-group label-floating">
                            <label class="control-label">Description</label>
                            <input class="form-control" id="msg_description" type="text" name="description" required
                                data-error="Please enter your message description">
                            <div class="help-block with-errors"></div>
                        </div>
                        <!-- Picture -->
                        <div class="form-group label-floating">
                            <label class="control-label">Picture</label>
                            <input class="form-control" id="msg_description" type="text" name="picture" required
                                data-error="Please enter your message subject">
                            <div class="help-block with-errors"></div>
                        </div>
                        <!-- Form Submit -->
                        <div class="form-submit mt-5">
                            <button type="submit" class="btn btn-primary">GUARDAR</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    </section>
</form>